.container {
  max-width: 80vw;
  padding: 40px;
  margin: 40px auto;
  border-radius: 20px;
  background-color: antiquewhite;
  box-shadow: 5px 5px 30px #988;
}

h1 {
  width: 100%;
  text-align: center;
}